<%= link_to "<- WSTECZ", books_path %>

<div>
  <%= image_tag(@book.image_url_L) %>
  <p><%= "#{@book.author}:    #{@book.title}" %></p>
</div>

<div>
  <%= button_to 'Zamów', orders_path(:book_id => @book.id), method: :post %>
</div>