<div class="landing-logo">
  <%# <div class="landing-logo__img">K</div> %>
  <div class="landing-description">
    <div class="landing-logo__slogan">
      <p class="p_1">,,Odkrywaj, </p>
      <p class="p_2">Ucz się, </p>
      <p class="p_3">Inspiruj"</p>
    </div>
    <p class="landing-invitation p_4">
      Twoja przygoda zaczyna się tutaj
    </p>
    <a class="button-link" href="/books">
    <div class="landing-button">
      
        Zobacz naszą ofertę <span class="arr">&rarr;</span>
    </div>
      </a>

  </div>
</div>
