.d1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    justify-items: stretch; 
    align-items: stretch;
    justify-self: center;
 }

.d2v1, .d2v3 {
    background-color: pink;
}


 .d2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 50px;
    justify-items: stretch; 
    align-items: stretch;
    justify-self: center;
    border:1px solid black;
 }

 .d3{
    border:1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 100px;
    justify-items: stretch; 
    align-items: stretch;
    justify-self: center;
 }

.d3v1 {
    background-color: green;
    font-size: 20px;
}

.d3v2 {
    background-color: greenyellow;
    font-size: 20px;
}

.d3v2_1 {
    background-color: yellow;    
    font-size: 20px;
}

.d3v3 {
    background-color: orange;    
}

.d3v4 {
    background-color: red;    
    font-size: 20px;
}

 .hp {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -2;
    grid-row-end: -1; 
    background-color: green;
    text-align: right;
}

 .item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
 }

 .avatar {
    justify-items: stretch; 
    align-items: stretch;
 }

 .bag{
    border:1px solid black;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: -2;
    grid-row-end: -1; 
    background-color: brown;
 }
