#profile_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    justify-items: stretch; 
    align-items: stretch;
    justify-self: center;
 }

#equipment_left, #equipment_right {
    background-color: pink;
}
#equipment_left {
    text-align: right;
}
#equipment_right {
    text-align: left;
}


#character_container{
    display: grid;
    grid-template-columns: 120px 2fr 120px;
    grid-template-rows: 50px 1fr 50px;
    justify-items: stretch; 
    align-items: stretch;
    justify-self: center;
    border:1px solid black;
    text-align: center;
}

div#character_name {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: green;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}

#character_container > div {
    border: 1px solid black;
}

#stats_container{
    border:1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 100px;
    justify-items: stretch; 
    align-items: stretch;
    justify-self: center;
}

table.stats_table tr td {
    height: 6vh;
}

.d3v1 {
    background-color: green;
    font-size: 20px;
}

.d3v2 {
    background-color: greenyellow;
    font-size: 20px;
}

.d3v2_1 {
    background-color: yellow;    
    font-size: 20px;
}

.d3v3 {
    background-color: orange;    
}

.d3v4 {
    background-color: red;    
    font-size: 20px;
}

#character_healthbar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -2;
    grid-row-end: -1; 
    background-color: green;
    text-align: right;
}

div.equipment img.item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#avatar_image {
    justify-items: stretch; 
    align-items: stretch;
}

.bag{
    border:1px solid black;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: -2;
    grid-row-end: -1; 
    background-color: brown;
}

#class_radio_container {
    display: grid;
    grid-template-columns: 6em 6em 6em;
    grid-template-rows: 2fr 1fr 6em;
}

#class_radio_container .class_icon {
    width: 6em;
    height: 6em;
}
#class_radio_container label {
    text-align: center;
}
