#main-grid {
  display: grid;
  grid-template-columns: 25em 1fr;
  grid-template-rows: 5em 1fr;
  height: 100%;
  background-color: black;
}

#top-bar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  background-color: white;
}

#sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  background-color: gray;
}

main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.57);
  background-image: url("megawonsz9_crop_transparent_35opacity.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

