
h1 {
    text-align: center;
}

ul#nav_buttons {
    position: relative;
    left: 0%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #663d0e;

}

ul#nav_buttons li a {
    display: block;
    color: #000;
    padding: 8px 0px;
    width: 50%;
    text-decoration: none;
    position: relative;
    left: 25%;
    text-align: center;
    transition: 0.3s;
}

/* Change the link color on hover */
ul#nav_buttons li a:hover {
    background-color: #d39a59;
    color: black;
}

#character_view {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
}

#current_activity {
    background-color: grey;
    text-align: center;
    color: green;
}

#sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 4fr;
    justify-items: stretch;
    align-items: stretch;
    background-color: greenyellow;
}

#nav_avatar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
}

div#nav_characer_name {
    word-wrap: break-word;
}

img.avatar_small {
    width: 10em;
}

#nav_healthbar {
    color: green;
}

div.progress_bar {
    font-family: 'Courier New', Courier, monospace;
}

#portrait {
    justify-items: stretch;
    align-items: stretch;
}

#top-bar {
    grid-row: 1;
    grid-column: 1/3;
    position: relative;
}

#title {
    /* background-color: aliceblue; */
    /* margin: 2%;  */
    /* xD ? */
    width: 100%;
    justify-self: center;
}

#login {
    background-color: #d39a59;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: 100%;
}

#current_view {
    grid-row: 2;
    grid-column: 2;

    display: block;
    margin: auto;
}
