@font-face {
  font-family: "Unifont";
  src: url("unifont.ttf");
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  height: 100%;
  box-sizing: border-box;
}

.pixel_card {
  font-family: 'Unifont';
  color: var(--dark-text-color);
  background-color: var(--background-color);
  /* box-shadow: inset 0px 4px rgba(253, 230, 200, 0.695), inset 0px -7px rgba(107, 70, 36, 0.431), 5px 0px var(--border-shadow), 0px 5px var(--border-shadow), -5px 0px var(--border-shadow), 0px -5px var(--border-shadow); */
  box-shadow: inset 0px -7px rgba(107, 70, 36, 0.431), 5px 0px var(--border-shadow), 0px 5px var(--border-shadow), -5px 0px var(--border-shadow), 0px -5px var(--border-shadow);
}

.quest_card {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3em;

  padding: 2em 3em;
  width: 30em;
 }

.quest_card > div {
  display: flex;
  flex-direction: column;
}

.quest_card form {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.quest_card .title {
  font-size: 1.8rem;
  margin: 0;
}

.quest_card .button_container {
  margin-top: 0.8em;
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.button_container.flex_start {
  justify-content: flex-start;
}

.pixel_button {
  width: 6em;
  box-sizing: border-box;

  font-family: 'Unifont';
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--dark-text-color);
  line-height: 1.3em;

  padding: 0.5rem 1rem;
  padding-bottom: 0.6rem;
  background-color: rgb(250, 216, 173);
  border: none;
  box-shadow: inset 0px 3px rgb(253, 230, 200), inset 0px -5px rgba(107, 70, 36, 0.431), 3px 0px var(--border-shadow), 0px 3px var(--border-shadow), -3px 0px var(--border-shadow), 0px -3px var(--border-shadow);
}

a.pixel_button {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.quest_card textarea {
  box-sizing: border-box;
  resize: none;
  outline: none;
  height: 15em;
}

.quest_card input[type="text"], textarea {
  background-color: rgb(252, 228, 182);
  box-shadow: none;
  border: 2px solid rgba(107, 70, 36, 0.295);
  border-radius: 0.4rem;
  color:rgb(76, 53, 31);
  padding: 0.5em 1em;
  font-size: 1rem;
}

#new_quest_button {
  width: 10em;
  font-size: 1.5rem;
  padding-bottom: 0.6em;
}

button, input[type="submit"] {
  cursor: pointer;
}

body {
  background-color: rgb(152, 142, 169) !important;
  box-sizing: border-box;

  /* COLORS FOR PIXEL CARDS AND BUTTONS */
  /* used in bold text on quest card */
  --dark-text-color: rgb(107, 70, 36);
  /* color of the pixelated border */
  --border-shadow: rgb(107, 70, 36);
  /* quest card background, transparent to fit main background */
  --background-color: rgba(241, 198, 142, 0.824);
  /* dark transparent shadow on quest card */
  --bottom-shadow-color: rgba(107, 70, 36, 0.431);
}
