<div class="tavern_background">

<br>Tawerna



<%=
current_user.created_at

%>

<div class="tavern_quest" id="quest_gambler">
    <%= image_tag "Exclamation.png", class: "quest_marker", alt: "!"%>
</div>
<div class="tavern_quest" id="quest_edd">
    <%= image_tag "Exclamation.png", class: "quest_marker", alt: "!"%>
</div>
<div class="tavern_quest" id="quest_barkeep">
    <%= image_tag "Exclamation.png", class: "quest_marker", alt: "!"%>
</div>
</div>
